<!DOCTYPE html>
<meta charset="utf-8">
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/interactive.css') }}">
<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>

        <a href="/player.html">Player Prices</a>
        <a href="/gamestats.html">Game Stats</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
	<br><br>
    <div id="chart1">
      <canvas id="myChart"></canvas>
    </div>
    <script>

    const Http = new XMLHttpRequest();
const url='http://127.0.0.1:5000/getData';
Http.open("GET", url);
Http.send();

Http.onreadystatechange = (e) => {

  var data = JSON.parse(Http.responseText)

  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: data,

      // Configuration options go here
      options: {
        legend: {
          display: true,
          position: 'right',
          fillStyle: Color
        },
        title: {
          display: true,
          text: 'Recent Performance of Selected Players'
        },
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Daily Fantasy Points'
            }
          }]
        }
      }
  });}

    </script>
</body>
<html>
