<!DOCTYPE html>
<html lang="en">

<head>
    <title>NHL DFS Optimizer</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>

    </style>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        
        <a href="/player.html">Lineup Optimizer</a>
        <a href="/gamestats.html">Player Stats</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
<br>
    <div class="container">
        <div class="jumbotron">
            <h1>National Hockey League (NHL) Fantasy Sports Lineup</h1>
            <p>
                Our motivation is to equip various fantasy players, from casual players to the stats enthusiast, with improved analytics and effective visualizations to help them design optimal lineups. Daily fantasy sports (DFS) is estimated to be over a billion dollar industry. With our NHL (National Hockey League) DFS product, we have the ability to disrupt this sector.
            </p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/signup.html" role="button">Sign up today</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Lineup Optimizer</h4>
                <p>Shows all of the player DFS prices and predictions, and enables you to optimize your lineup.  Shows DFS performance of your optimized lineup.</p>

                <h4>Player Stats</h4>
                <p>Shows the last 10 game performance of every player.  Allows you to dig in beyond the optimal lineup.</p>

            </div>

            <div class="col-lg-6">
                <h4>Data Source</h4>
                <p>All data is pulled directly from the NHL API.  Documentation available at:
				<a href="https://gitlab.com/dword4/nhlapi/-/tree/master/">
				https://gitlab.com/dword4/nhlapi/-/tree/master/</p>
				</a>

                <h4>Other</h4>
                <p>All lineups optimized to DraftKings NHL DFS scoring.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; DVA Team Project 2020</p>
        </footer>

    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

</html>