<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css   ">


  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <style>

    </style>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/chart.html">Chart</a>
        <a href="/player.html">Player Prices</a>
        <a href="/gamestats.html">Game Stats</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <div class="container">

        <div class="jumbotron">
            <h1>Player Prices!!!</h1>
        </div>
        <form action="" method="post">
            <div class="form-group green-border-focus">
                <textarea class="form-control" id="Names" name= "Names" rows="3"></textarea>
              </div>
                <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div>
            <h1>Optimized Lined Up</h1>
            {% for item in data %}
                <p> {{ item }} </p>
            {% endfor %}
        </div>
        <div >
            <table id = "prices_table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    {% for col in column_names %}
                        <th>{{col}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for row in row_data %}
                    <tr>
                        {% for col, row_ in zip(column_names, row) %}
                            <td>{{row_}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        </div>        

        <footer class="footer">
            <p>&copy; Company 2020</p>
        </footer>

    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        $(document).ready( function () {
            $('#prices_table').DataTable({
            });
            
        } );
    </script>

</body>

</html>